<h1>Stepper Form</h1>
<nav>
    <a routerLink="/"  mat-stroked-button>Home</a>
    <a routerLink="/horizontal" mat-stroked-button>Horizontal</a>
    <a routerLink="/vertical"  mat-stroked-button>Vertical</a>
    <a routerLink="/custom" mat-stroked-button>Custom</a>
    <a routerLink="/page" mat-stroked-button>page</a>
    <a routerLink="/test" mat-stroked-button>test</a>
    <a routerLink="/test2" mat-stroked-button>test2</a>
    <a routerLink="/test3" mat-stroked-button>test3</a>
</nav>
<router-outlet></router-outlet>
